<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_style.css') }}">

</head>
<body>
    <form method="POST">
        <label for="filename">Verwijder</label>
        <select id="filename" name="filename">
            {% for post in posts %}
            <form method="POST">
                <input type="hidden" name="filename" value="{{ post.filename }}">
                <input type="hidden" name="password" value="iksisknap">
                <input type="submit" value="verwijder">
            </form>
        {% endfor %}
        </select>
    </form>
</body>
</html>